.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  width: 100%;

  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card:nth-of-type(1) div:nth-of-type(1) {
  width: 100%;
}

.card:nth-of-type(2) {
  margin-top: 10px;

  border-radius: 25px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.header {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.title {
  display: flex;
  align-items: flex-start;

  font-family: "Poppins", sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 300;

  color: var(--blue-900);
}

.select {
  width: 100%;

  margin-top: 25px;
}

.controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;

  border-radius: 50%;
  border: none;

  background-color: transparent;

  transition: all 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.1);

  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
}

.button:disabled:hover {
  transform: scale(1);
  cursor: default;
}

.button:hover i::before {
  color: var(--white);
}
