.wrapper {
  display: flex;

  width: 100%;
  height: 100%;

  padding: 5px;

  background-color: rgba(255, 255, 255, 0.5);

  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.root {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  border-radius: 25px;

  opacity: 0.85;

  transition: all 250ms ease;
}

.root:hover {
  opacity: 1;
}

.card {
  display: flex;

  width: 100%;
  height: 100%;

  font-family: var(--poppins);
  font-size: 18px;
  line-height: 18px;

  border-radius: 25px;
}

.card div:nth-of-type(1) {
  width: 100%;
}

.icon {
  display: flex;
  justify-content: flex-start;

  margin-bottom: 20px;
}

.accordion {
  display: flex;

  width: 100%;

  margin-top: 20px;
  margin-bottom: 20px;
}

.accordion div:nth-of-type(1) {
  width: 100%;
}

.information {
  font-family: var(--poppins);
  font-size: 16px;
  line-height: 20px;
}

.target {
  display: flex;

  font-family: var(--poppins);
  font-size: 18px;
  line-height: 18px;
}

.progress-bar {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 20px;
}

.progress-bar span {
  margin-right: 10px;
}

.footer {
  display: flex;

  justify-content: space-between;

  margin-top: 10px;
}

.button {
  width: 100% !important;

  border-radius: 25px !important;
}
