.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  padding: 15px 10px;

  border: none;
  border-radius: 25px;
  background-color: var(--blue-100);

  cursor: pointer;

  transition: all 250ms ease-in-out;
}

.root:hover {
  background-color: var(--blue-200);

  transition: all 250ms ease-in-out;

  transform: translateY(-5px);
}

.root-selected {
  background-color: var(--blue-300);

  text-decoration: underline;
}

.root-selected:hover {
  background-color: var(--blue-300);
}

.name {
  margin-top: 15px;

  font-family: "Advent Pro", sans-serif;
  font-size: 20px;
  line-height: 24px;
}
