.root {
  display: block;

  margin-bottom: 10px;
  padding: 10px;

  background-color: #6270f057;
  border: none;
  border-radius: 25px;

  cursor: pointer;

  transition: 150ms ease-in-out;
}

.root:hover {
  position: relative;
  z-index: 2;

  transform: scale(1.05);
  background-color: #6270f08a;
}

.root-selected {
  transform: scale(1.05);
  background-color: #6270f0b7;

  text-decoration: underline;
}

.root-selected:hover {
  background-color: #6270f0b7;
}

.icon {
  width: 90px;
  height: 90px;

  margin: 0 auto;
}
