.root {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
}

.location {
  display: flex;
  flex-direction: column;
}

.city {
  font-family: var(--poppins);
  font-size: 24px;
  line-height: 28px;
}

.country {
  font-family: var(--poppins);
  font-size: 14px;
  line-height: 20px;
}

.date {
  min-width: 105px;

  font-family: var(--advent-pro);
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  text-align: right;
}

.body {
  display: flex;
  flex-direction: row;
}

.condition {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  width: 35% !important;

  margin-top: 20px;
}

.condition-text {
  display: flex;

  margin-top: 5px;

  font-family: var(--poppins);
  font-size: 14px;
  line-height: 14px;
  font-style: italic;
}

.forecast {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  font-family: var(--poppins);
  font-size: 20px;
  line-height: 20px;
}

.temp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 25px;
}

.humidity,
.feelslike,
.wind,
.wind-direction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 10px;
}
