html,
body,
#root {
  min-width: 100%;
  height: 100%;
  overflow: hidden;

  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../../public/images/main-bg.jpg");
  background-size: cover;
  background-position: top center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #ffffff;
  --black: #000000;
}
