.dock ul {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;

  background: rgba(255, 255, 255, 0.3) !important;
}

.dock li a {
  border-radius: 10px;

  cursor: pointer;
}
