.root {
  position: relative;
  overflow: hidden;

  height: 100%;

  margin: 10px 0;

  border-radius: 25px;
}

.root::before {
  position: absolute;
  z-index: 1;
  display: flex;
  content: "";

  top: 2px;
  left: 0;

  width: 100%;
  height: 50px;

  background: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.root::after {
  position: absolute;
  z-index: 1;

  display: flex;
  content: "";

  bottom: 2px;
  left: 0;

  width: 100%;
  height: 75px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 100%
  );

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: auto;

  height: 100%;

  padding: 10px;

  border: 1px solid #6270f0c9;
  border-radius: 25px;
}

.buttons:hover {
  border: 1px solid #6270f0;
  background-color: rgba(255, 255, 255, 0.5);
}

.buttons::-webkit-scrollbar {
  display: none;
}

.buttons div:last-of-type button {
  margin-bottom: 0;
}
