.root {
  display: flex;

  min-width: 1200px;
  height: calc(100vh - 100px);

  overflow: hidden;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas:
    "h h w"
    "h h r";
  gap: 10px;

  width: 100%;
  height: 100%;

  padding: 10px 10px 10px 160px;
}

.content-box {
  display: flex;
  flex-direction: column;

  padding: 10px;

  background-color: rgba(255, 255, 255, 0.5);

  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.habit {
  grid-area: h;

  overflow: auto;
}

.no-habit-selected {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 25%;
}

.no-habit-selected-text {
  font-family: var(--advent-pro);
  font-size: 36px;
  line-height: 36px;
}

.no-habit-selected-icon {
  margin-top: 25px;
}

.progress-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 25%;
}

.weather {
  grid-area: w;
}

.radio {
  grid-area: r;
}
