.root {
  display: flex;
  align-items: stretch;

  width: 100%;

  margin-bottom: 10px;
  padding: 10px;

  background-color: #c7d2fe44;

  border-radius: 5px;
  border: 1px solid #c7d2febb;
}

.root:last-child {
  margin-bottom: 0;
}

.comment {
  display: flex;
  width: 100%;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.button {
  width: 50px;
}
