.root {
  position: absolute;
  display: flex;
  align-content: center;
  flex-direction: column;

  width: 150px;
  height: 100vh;

  padding: 10px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.85) 25%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    rgba(255, 255, 255, 0.3) 100%
  );

  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.pointer {
  display: flex;
  flex-direction: column;

  margin-top: auto;
  margin-bottom: 50px;

  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}
