.root {
  position: relative;
  width: 1028px;
  height: 75%;
  overflow: hidden;

  margin: 0 5px;

  border-radius: 25px;
}

div.header div {
  font-family: var(--poppins);
  font-size: 32px !important;
  line-height: 32px !important;
  font-weight: 500 !important;
}

.content {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;

  height: 100%;
}

div.root button {
  border-radius: 25px;
}
