.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  margin: 3px;
  padding: 12px 20px;

  border-radius: 25px;

  border: none;
  background: #c7d2febb;

  transition: all 250ms ease-in-out;

  color: var(--black);
}

.root:hover {
  background: #c7d2fe;

  cursor: pointer;
}

.root-active {
  background: #748ffc;

  color: var(--white);
}

.root-active:hover {
  background: #8da3fc;
}

.name {
  font-family: var(--advent-pro);
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
}
