.root {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
  height: 100%;
}

.root .card div div:nth-of-type(1) {
  padding-top: 0;
  padding-bottom: 0;
}

.card {
  display: flex;
  justify-content: center;

  width: 100%;

  border-radius: 25px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card div:nth-of-type(1) {
  width: 100%;
}

.card:nth-child(2) {
  flex-grow: 1;

  margin-top: 10px;

  border-radius: 25px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.search-no-city {
  display: flex;
  justify-content: center;
  align-content: center;

  width: 100%;

  margin-top: 25px;
}

.search {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.search button {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;

  border-color: #ced4da !important;
  border-left: none !important;
}

.search button:focus {
  border-left: 1px solid #ced4da !important;
}

.city {
  margin-bottom: 5px;

  font-family: var(--poppins);
  font-size: 20px;
  line-height: 24px;
}

.input {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.tip {
  margin-top: 5px;

  font-family: var(--poppins);
}

.weather {
  display: flex;
}
