.root {
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 25px;
}

.card-comments {
  margin-top: 10px;
}

.card-comments-title {
  font-family: "Advent Pro", sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;

  font-family: "Advent Pro", sans-serif;
  font-size: 36px;
  line-height: 36px;
}

.title-icon {
  display: flex;
  margin-left: 10px;
}

.progress {
  display: flex;

  margin-left: 10px;
}

.progress-text {
  margin-right: 5px;

  font-family: "Advent Pro", sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.progress-percent {
  font-family: "Advent Pro", sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.progress-bar {
  height: 20px;

  margin-bottom: 26px;
}

.information {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.card div div:nth-of-type(3) {
  padding-top: 0;
}

.input {
  display: flex;

  width: 100%;

  padding: 10px;

  background-color: #c7d2fe75;

  border-radius: 5px;
}

.input-field {
  width: 100%;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
