.root {
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.card {
  border-radius: 25px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.root .card div div:nth-of-type(2) {
  padding-bottom: 0;
}

.root .card div div:nth-of-type(3) {
  padding-top: 0;
}

.card-comments {
  overflow-y: auto;

  margin-top: 10px;
  margin-bottom: 1.5px;
  padding: 0;

  border-radius: 0px;
}

.card-no-comments {
  font-family: var(--advent-pro);
  font-size: 18px;
  line-height: 18px;
  font-style: italic;
}

.card-comments-with-radius {
  border-radius: 25px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.card-comments::-webkit-scrollbar {
  width: 16px;
}

.card-comments::-webkit-scrollbar-thumb {
  background-color: #8e94ee98;
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
}

.card-comments-title {
  font-family: var(--advent-pro);
  font-size: 24px;
  line-height: 24px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;

  font-family: var(--advent-pro);
  font-size: 36px;
  line-height: 36px;
}

.title-icon {
  display: flex;
  margin-left: 10px;
}

.progress {
  display: flex;
  justify-content: space-between;

  min-width: 135px;

  margin-left: 10px;
}

.progress-text {
  margin-right: 5px;

  font-family: var(--advent-pro);
  font-size: 24px;
  line-height: 24px;
}

.progress-percent {
  font-family: var(--advent-pro);
  font-size: 24px;
  line-height: 24px;
}

.progress-bar {
  height: 20px;

  margin-bottom: 26px;
}

.root .progress-bar-habit-achieved div:first-of-type {
  background: var(--green-600) !important;
}

.information {
  font-family: var(--poppins);
  font-size: 18px;
  line-height: 18px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.text {
  font-family: var(--poppins);
  font-size: 18px;
  line-height: 18px;
  text-decoration: underline;
}

.button {
  margin-left: auto;
}

.card-input {
  margin-top: 10px;

  border-radius: 25px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.input {
  display: flex;

  width: 100%;

  padding: 10px;

  background-color: #c7d2fe44;

  border-radius: 5px;
  border: 1px solid #c7d2febb;
}

.input-field {
  width: 100%;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
