.controls {
  z-index: 100;

  display: grid;
  grid-template-columns: repeat(1, 1fr);

  height: 100%;

  background-color: #8aa1ff77;

  border-radius: 25px;

  transition: all 250ms ease-in-out;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;

  background-color: transparent;

  transition: all 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.1);

  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
}

.button:disabled:hover {
  transform: scale(1);
  cursor: default;
}

.button:hover i::before {
  color: var(--white);
}
