.root {
  z-index: 100;

  display: flex;
  flex-direction: row;
  gap: 10px;

  width: 1200px;

  margin: 0 auto;
  padding: 150px 0;

  overflow: hidden;
}

.root-cool {
  position: absolute;
  z-index: -1;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgba(255, 25, 25, 1) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  position: fixed;

  bottom: 0;
  left: 0;

  width: 200%;
  height: 12em;

  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

.box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: 10px;

  background-color: rgba(255, 255, 255, 0.5);

  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.buttons {
  justify-content: center;

  width: 35%;

  transition: all 1s ease;
}

.buttons-cool {
  opacity: 0.5;

  transition: all 1s ease;
}

.stations {
  width: 100%;

  transition: all 1s ease;
}

.stations-cool {
  opacity: 0.5;

  transition: all 1s ease;
}

.cool-button {
  position: absolute;

  top: 0;
  left: 0;
}

.cool-button div {
  font-family: var(--poppins) !important;
  font-size: 12px;
  line-height: 12px;

  border-radius: 0 !important;

  border-bottom-right-radius: 25px !important;
}
